<div class="backdrop" (click)="onClose()"></div>
<div class="box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">
        <div class="card-header">
            <span aria-hidden="true" class="closeButton" (click)="onClose()">&times;</span>
            <div class="card-title text-uppercase text-primary title">Add New Product</div>
            <div class="alert alert-danger" *ngIf="errorStatus">
                Product already exist!!
            </div>
        </div>
        <div class="card-body" id="card_content">
            <div class="form-group input_field">
                <label for="name">Model Name</label>
                <input type="text" formControlName="modelName" class="form-control">
                <div *ngIf="modelName.invalid&&modelName.touched">
                    <span *ngIf="modelName.errors?.required" class="text-danger">*Model Name required</span>
                    <span *ngIf="modelName.errors?.pattern" class="text-danger">*Model Name Invalid</span>
                </div>
            </div>
            <div class="form-group input_field">
                <label for="os">OS</label>
                <input type="text" formControlName="os" class="form-control" min="1" max="5" step="0.1" >
                <div *ngIf="os.invalid&&os.touched">
                    <span *ngIf="os.errors?.required" class="text-danger">*OS required</span>
                </div>
            </div>
            <div class="form-group input_field">
                <label for="ram">Ram</label>
                <select name="ram" id="" class="form-control" formControlName="ram">
                    <option value="">Select the size</option>
                    <option value="4">4 GB</option>
                    <option value="8">8 GB</option>
                    <option value="12">12 GB</option>
                    <option value="16">16 GB</option>
                    <option value="32">32 GB</option>
                </select>
                <div *ngIf="ram.invalid&&ram.touched">
                    <span *ngIf="ram.errors?.required" class="text-danger">*Ram required</span>
                </div>
            </div>
            <div class="form-group input_field">
                <label for="hardDiskSize">Hard Disk Size (GB)</label>
                <input type="number" formControlName="hardDiskSize" class="form-control" min="50">
                <div *ngIf="hardDiskSize.invalid&&hardDiskSize.touched">
                    <span *ngIf="hardDiskSize.errors?.required" class="text-danger">*Hard disk size required</span>
                    <span *ngIf="hardDiskSize.errors?.invalid" class="text-danger">*Hard disk size min 50GB required</span>
                </div>
            </div>
            <div class="form-group input_field">
                <label for="stockAvailable">Stock Available</label>
                <input type="number" formControlName="stockAvailable" class="form-control" min="1">
                <div *ngIf="stockAvailable.invalid&&stockAvailable.touched">
                    <span *ngIf="stockAvailable.errors?.required" class="text-danger">*Stock Available required</span>
                </div>
            </div>
            <div class="form-group input_field" *ngIf="vendorMapper!=null&&vendorMapper.length>0; else noVendors">
                <label for="vendor">Vendor</label>&nbsp;
                <select name="vendor" id="" class="form-control" formControlName="vendorId">
                        <option value="">Select the vendor</option>
                        <option *ngFor="let name of vendorMapper" value="{{name.id}}">{{name.name}}</option>                
                </select>
                <div *ngIf="vendor.invalid&&vendor.touched">
                    <span *ngIf="vendor.errors?.required" class="text-danger">*Vendor required</span>
                </div>
            </div>
            <ng-template #noVendors>
                <div class="alert alert-danger input_field">
                    No Vendors!!
                </div>
              </ng-template>
        </div>
       <div class="card-footer">
        <button type="submit" [disabled]="this.form.invalid" class="btn btn-outline-success mr-3">Add</button>
        <button type="button" class="btn btn-outline-primary" (click)="reset()">Reset</button>
       </div>
    </form>
</div>
